<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="/templates/main_layout.xhtml">
            <!-- definição do título da aba e das folhas de estilo extras -->
            <ui:define name="title">#{msgsGadgetType.add_tab_title}</ui:define>
        <ui:define name="content">
            <!-- toda a seção content deve possuir o subcontainer que encapsula tudo -->
            <div class="sub-container">
                <p:growl id="growl" life="5000" />
                <h:form>
                    <p:fieldset legend="#{msgsGadgetType.add_fieldset_title}">
                        <!-- grid responsivo do primefaces -->
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-6">
                                    <h:panelGrid columns="3" styleClass="panelgrid-cell-padding-10">
                                        <p:outputLabel for="type"
                                                       value="#{msgsGadgetType.add_form_label_type}"/>
                                        <p:inputText id="type" required="true" value="#{gadgetTypeMB.gadgetType.type}">
                                            <f:validateRegex pattern="((?=.*[a-zA-Z]).{2,20})"/>
                                        </p:inputText>
                                        <p:message for="type"/>
                                    </h:panelGrid>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-6">
                                    <p:commandButton styleClass="submit" value="#{common.submit}"
                                                     ajax="false" action="#{gadgetTypeMB.addGadgetType()}"/>
                                    <p:commandButton styleClass="submit" value="#{common.cancel}"
                                                     ajax="false" action="listGadgetType" immediate="true"/>
                                </div>
                            </div>
                        </div>
                    </p:fieldset>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
