<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="/templates/main_layout.xhtml">
            <!-- definição do título da aba e das folhas de estilo extras -->
            <ui:define name="title">#{msgsGadgetType.list_tab_title}</ui:define>

            <ui:define name="content">
                <!-- toda a seção content deve possuir o subcontainer que encapsula tudo -->
                <div class="sub-container">
                    <p:growl id="growl" life="5000"/>
                    <h:form>
                        <p:fieldset legend="#{msgsGadgetType.list_fieldset_title}">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-1">
                                        <!-- add button -->
                                        <p:commandButton value="#{common.add}" action="addGadgetType"/>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p:dataTable var="type" value="#{gadgetTypeMB.typeList}">

                                            <p:column headerText="Id" width="10%">
                                                <h:outputText value="#{type.id}"/>
                                            </p:column>

                                            <p:column headerText="#{msgsGadgetType.header_type}">
                                                <h:outputText value="#{type.type}"/>
                                            </p:column>

                                            <p:column headerText="#{msgsGadgetType.header_actions}">
                                                <p:commandButton value="#{msgsGadgetType.details}"
                                                                 disabled="true"/>

                                                <p:commandButton value="#{common.edit}"
                                                                 action="#{gadgetTypeMB.editGadgetType()}">
                                                    <f:param name="gadgetTypeId" value="#{type.id}"/>
                                                </p:commandButton>

                                                <p:commandButton value="#{msgsGadgetType.delete}"
                                                                 disabled="true"/>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-1">
                                        <p:commandButton value="#{common.add}" action="addGadgetType"/>
                                    </div>
                                </div>
                            </div>
                        </p:fieldset>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>

</html>
