<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="/templates/main_layout.xhtml">
            <!-- definição do título da aba -->
            <ui:define name="title">#{msgsGadgetFeatures.add_tab_title}</ui:define>

            <ui:define name="content">
                <!-- toda a seção content deve possuir o subcontainer que encapsula tudo -->
                <div class="sub-container">
                    <p:growl id="growl" life="5000"/>
                    <h:form>
                        <p:fieldset legend="#{msgsGadgetFeatures.add_fieldset_title}">
                            <h:panelGrid columns="2">
                                <!--name-->
                                <h:outputLabel value="#{msgsGadgetFeatures.header_feature}" for="featureName"/>
                                <h:inputText id="featureName" value="#{gadgetFeatureMB.gadgetFeature.featureName}"/>

                                <!--decricao-->
                                <h:outputLabel value="#{msgsGadgetFeatures.header_description}" for="description"/>
                                <h:inputText id="description" value="#{gadgetFeatureMB.gadgetFeature.featureDescription}"/>

                                <h:commandButton value="#{common.save}" action="#{gadgetFeatureMB.saveAddFeature()}"/>
                            </h:panelGrid>
                        </p:fieldset>
                    </h:form>
                </div>
            </ui:define>

        </ui:composition>
    </h:body>

</html>
