<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="/templates/main_layout.xhtml">
            <!-- definição do título da aba e das folhas de estilo extras -->
            <ui:define name="title">#{msgsGadgetFeatures.list_tab_title}</ui:define>

            <ui:define name="content">
                <!-- toda a seção content deve possuir o subcontainer que encapsula tudo -->
                <div class="sub-container">
                    <p:growl id="growl" life="5000"/>
                    <h:form>
                        <p:fieldset legend="Gadget: #{gadgetFeatureMB.gadgetName}">
                            <!--adicionar uma feature-->
                            <p:commandButton ajax="false" value="#{common.add}"
                                             action="#{gadgetFeatureMB.addFeature()}"/>

                            <!--retornar a lista de gadgets-->
                            <p:commandButton ajax="false" value="#{common.back}" action="gadgetList"/>

                            <p:dataTable value="#{gadgetFeatureMB.gadgetFeatureList}" var="feature">
                                <!--id-->
                                <p:column width="10%">
                                    <f:facet name="header">Id</f:facet>
                                    <h:outputText value="#{feature.id}"/>
                                </p:column>

                                <!--nome-->
                                <p:column>
                                    <f:facet name="header">Feature</f:facet>
                                    <h:outputText value="#{feature.featureName}"/>
                                </p:column>

                                <!--descricao-->
                                <p:column>
                                    <f:facet name="header">Descricao</f:facet>
                                    <h:outputText value="#{feature.featureDescription}"/>
                                </p:column>

                                <!--ação-->
                                <p:column>
                                    <f:facet name="header">Ações</f:facet>

                                    <p:commandButton ajax="false" value="#{common.edit}"
                                                     action="#{gadgetFeatureMB.editFeature(feature)}"/>
                                    <p:commandButton ajax="false" value="Delete"
                                                     action="#{gadgetFeatureMB.delete(feature)}"/>

                                </p:column>
                            </p:dataTable>
                        </p:fieldset>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
