<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
            <div class="sidebar-title">
                <h1>#{common.admin_panel_title}</h1>
            </div>
        <p:accordionPanel>
            <p:tab title="Gadgets">
                <h:link value="#{msgsGadget.list_fieldset_title}" outcome="listGadgets"/>
                <br/>
                <h:link value="#{msgsGadget.add_gadget}" outcome="addGadgets"/>
                <br/>
            </p:tab>
            <p:tab title="Gadgets Types">
                <h:link value="#{msgsGadgetType.list_fieldset_title}" outcome="listGadgetsTypes"/>
                <br/>
                <h:link value="#{msgsGadgetType.add_fieldset_title}" outcome="addGadgetsTypes"/>
                <br/>
            </p:tab>
        </p:accordionPanel>
    </ui:composition>

</html>
