<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="/templates/main_layout.xhtml">
            <!-- definição do título da aba e das folhas de estilo extras -->
            <ui:define name="title">Editar Gadget</ui:define>

            <ui:define name="content">
                <!-- toda a seção content deve possuir o subcontainer que encapsula tudo -->
                <div class="sub-container">
                    <p:growl id="growl" life="5000"/>
                    <h:form>
                        <p:fieldset legend="Editar Gadget">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-6">
                                        <h:panelGrid columns="3" styleClass="panelgrid-cell-padding-10">
                                            <p:outputLabel value="Nome" for="name"/>
                                            <p:inputText required="true" id="name"
                                                         value="#{gadgetMB.gadget.name}"/>
                                            <p:message for="name"/>

                                            <p:outputLabel value="Tipo" for="type"/>
                                            <h:selectOneMenu converter="generic" required="true" var="items"
                                                             id="type" value="#{gadgetMB.gadget.gadgetType}"
                                                             style="width:200px">
                                                <f:selectItems value="#{gadgetTypeMB.typeList}" var="type"
                                                               itemLabel="#{type.type}" itemValue="#{type}"/>
                                            </h:selectOneMenu>
                                            <p:message for="type"/>

                                            <h:inputHidden value="#{gadgetMB.gadget.id}"/>
                                        </h:panelGrid>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-6">
                                        <p:commandButton ajax="false" value="Enviar" styleClass="submit"
                                                         action="#{gadgetMB.saveEditGadget()}"/>
                                        <p:commandButton ajax="false" value="Cancelar" styleClass="submit"
                                                         action="#{gadgetMB.cancel()}" immediate="true"/>
                                    </div>
                                </div>
                            </div>
                        </p:fieldset>
                    </h:form>
                </div>
            </ui:define>

        </ui:composition>
    </h:body>
</html>
