<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="/templates/main_layout.xhtml">
            <!-- definição do título da aba -->
            <ui:define name="title">#{msgsGadget.list_tab_title}</ui:define>

            <ui:define name="content">
                <!-- toda a seção content deve possuir o subcontainer que encapsula tudo -->
                <div class="sub-container">
                    <p:growl id="growl" life="5000"/>
                    <h:form>
                        <p:fieldset legend="#{msgsGadgetFeatures.list_fieldset_title}">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-1">
                                        <p:commandButton value="#{common.add}" action="addGadget"/>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p:dataTable var="gadget" value="#{gadgetMB.gadgetList}">

                                            <p:column headerText="Id" width="10%">
                                                <h:outputText value="#{gadget.id}"/>
                                            </p:column>

                                            <p:column headerText="#{msgsGadget.header_name}">
                                                <h:outputText value="#{gadget.name}"/>
                                            </p:column>

                                            <p:column headerText="#{msgsGadget.header_type}">
                                                <h:outputText value="#{gadget.gadgetType.type}"/>
                                            </p:column>

                                            <!-- ver features -->
                                            <p:column headerText="#{msgsGadget.header_features}">
                                                <p:commandButton value="#{msgsGadget.features_details}"
                                                                 action="#{gadgetFeatureMB.listaFeatures(gadget)}"/>
                                            </p:column>

                                            <p:column headerText="#{msgsGadget.header_actions}">
                                                <p:commandButton ajax="false" value="editar" action="#{gadgetMB.editGadget(gadget)}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>
                        </p:fieldset>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>

</html>
